body {
  margin: 0;
}

:root {
  background-color: #e5e5e5;
}

@media screen and (max-width: 37.5rem) {
  :root {
    background-color: #fdfbfe;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "S-CoreDream";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfe), to(#fdfbfe)), #fbfbfb;
  background: linear-gradient(0deg, #fdfbfe, #fdfbfe), #fbfbfb;
  color: #2d2d2d;
  border-bottom: 1px solid #e0dde1;
  position: relative;
  z-index: 2;
}

#header_navigator {
  width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  cursor: pointer;
}

.home_mypage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 300;
}

#header_login_button {
  width: 94px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #db643e;
}

#header_login_button:active {
  background: #ec6d43;
}

.login_area {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header_middle {
  width: 80px;
  cursor: pointer;
}

.header_middle:hover {
  color: #db643e;
}

.home_button {
  text-align: left;
  margin-left: 20px;
}

.mypage_button {
  text-align: left;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #2d2d2d;
}

a:visited {
  color: #2d2d2d;
}

a:hover {
  color: #db643e;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content {
  text-align: center;
  position: relative;
  width: 468px;
  height: 237px;
  background: #fbfafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#modal_logout_button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
}

#modal_logout_button:active {
  background: #ec6d43;
}

#modal_close_button {
  width: 94px;
  height: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  cursor: pointer;
}

#modal_close_button:active {
  background: #f2f2f2;
}

.hidden {
  display: none;
}

.modal_txt {
  margin-top: 50px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 216px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 37.5rem) {
  .modal_txt {
    font-size: 14px;
  }
  #modal_close_button {
    width: 54.23px;
    height: 40.76px;
    font-size: 13px;
    line-height: 24px;
  }
  #modal_logout_button {
    width: 54.23px;
    height: 40.76px;
    font-size: 13px;
    line-height: 24px;
  }
  .modal__content {
    width: 270px;
    height: 175px;
  }
  .button_container {
    width: 150px;
  }
}

footer {
  width: 100%;
  height: 130px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfe), to(#fdfbfe)), #fbfbfb;
  background: linear-gradient(0deg, #fdfbfe, #fdfbfe), #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e0dde1;
}

#github_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin-right: 60px;
  cursor: pointer;
}

#inquiry_txt {
  width: 120px;
  cursor: pointer;
  font-style: normal;
}

#a_github {
  text-decoration: none;
}

#a_github:visited {
  color: #2d2d2d;
}

@media screen and (max-width: 37.5rem) {
  footer {
    font-size: 12px;
  }
  footer img {
    width: 18px;
    height: 18px;
  }
  #github_container {
    width: 90px;
    margin-right: 35px;
  }
  #inquiry_txt {
    width: 50px;
  }
}

#body_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 98vh;
}

#mypage_top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1260px;
  width: 100%;
  gap: 2%;
  margin: 2%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5%;
  word-break: keep-all;
}

#info_container span {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

#info_container div {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #969696;
}

#info_container .email_txt {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

#m_left_button_container {
  max-width: 240px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 20px 20px 20px;
}

.white_btn {
  width: 108px;
  height: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #db643e;
  border: 1px solid #db643e;
  background: #fdfbfe;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white_btn:active {
  background: #f5f5f594;
}

#m_right_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m_top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 612px;
  width: 100%;
  height: 218px;
  background: #fdfbfe;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#m_today_record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  font-weight: 300;
}

#m_today_record img {
  margin-right: 10px;
}

#m_today_record span {
  font-weight: 500;
}

#m_right_button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.no_border_btn {
  width: 179px;
  height: 57px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: #fdfbfe;
  color: #000000;
  cursor: pointer;
}

.no_border_btn:active {
  background: #f5f5f594;
}

#mypage_bottom_container {
  max-width: 1260px;
  width: 100%;
  height: 560px;
  background: #fdfbfe;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#info_edit_page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info_edit_page input {
  padding-left: 10px;
  width: 396px;
  height: 38px;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
}

#info_edit_page input:focus {
  outline: none;
}

.m_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.m_title span {
  margin: 30px;
  border-bottom: 2px solid #db643e;
}

.m_button_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.orange_button {
  width: 94px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #db643e;
}

.orange_button:active {
  background: #ec6d43;
}

.white_button {
  width: 94px;
  height: 36px;
  border-style: 1px solid #2d2d2d;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  background: #fdfbfe;
}

.white_button:active {
  background: #f5f5f594;
}

.input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_container input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

.input_container input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

.input_container input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

.input_container input::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

#m_left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name_txt {
  width: 200px;
}

.email_txt {
  width: 200px;
}

#m_default_page {
  height: 100%;
  margin-top: 100px;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#m_default_page #m_image_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#m_default_page #m_image_container :last-child {
  margin-bottom: 20px;
}

#m_default_page #m_image_container :first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#today_sentence_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  position: relative;
}

#today_sentence_page img {
  position: relative;
  top: 6px;
  z-index: 3;
}

#today_sentence_page #input_only_container {
  width: 525px;
  height: 38px;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#today_sentence_page #input_only_container input {
  width: 92%;
  height: 90%;
  border: none;
  background: transparent;
  padding-left: 10px;
}

#today_sentence_page #input_only_container input:focus {
  outline: none;
}

#today_sentence_page #input_only_container #today_input_cancel {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-bottom: 3px;
}

#today_sentence_page #today_sentence_input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

#today_sentence_page #today_sentence_input_container span {
  font-weight: 300;
  font-size: 10px;
  line-height: 24px;
  color: #999999;
  text-align: center;
}

#info_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 55px;
}

#nickname_edit_btn {
  width: 397px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  color: #ffffff;
  background: #db643e;
}

#nickname_edit_btn:active {
  background: #ec6d43;
}

#password_edit_btn {
  width: 397px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-style: 1px solid #2d2d2d;
  cursor: pointer;
  color: #222222;
  background: #fdfbfe;
}

#password_edit_btn:active {
  background: #f5f5f594;
}

#nickname_edit_page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#password_edit_page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#password_edit_page input {
  width: 396px;
  height: 38px;
}

#password_container {
  width: 100%;
  height: 100%;
}

#password_changed_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

#password_changed_page button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
  margin-top: 100px;
}

#password_changed_page button:active {
  background: #ec6d43;
}

#graph_page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#graph_page .m_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#graph_page .m_title span {
  margin: 30px;
  border-bottom: 2px solid #db643e;
}

#graph_page img {
  width: 24px;
  height: 24px;
  vertical-align: auto;
  margin-top: 15px;
}

.newmodal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__content {
  text-align: center;
  position: relative;
  width: 468px;
  height: 237px;
  background: #fbfafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#modal_delete_account_button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
}

#modal_delete_account_button:active {
  background: #ec6d43;
}

#modal_delete_close_button {
  width: 94px;
  height: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  cursor: pointer;
}

#modal_delete_close_button:active {
  background: #f2f2f2;
}

.hidden {
  display: none;
}

.modal_txt {
  margin-top: 50px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 216px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.warning_msg {
  visibility: hidden;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

@media screen and (max-width: 37.5rem) {
  #mypage_top_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #body_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background: #fbfafc;
    margin: 0px;
  }
  #mypage_top_container {
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .m_top_container {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 318px;
    border: 1px solid rgba(153, 153, 153, 0.2);
  }
  #m_left_container {
    height: 159px;
  }
  #info_container {
    margin: 15px 0 0 20px;
  }
  #info_container span {
    font-size: 18px;
  }
  #info_container div {
    font-size: 12px;
    word-break: keep-all;
  }
  #info_container .email_txt {
    font-size: 14px;
  }
  #m_left_button_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 320px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 0 20px 0;
  }
  #m_right_container {
    height: 92px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-end;
    margin: 15px 0 15px 0;
  }
  #m_right_container #m_today_record {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }
  #mypage_bottom_container {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0;
    width: 318px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border: 1px solid rgba(153, 153, 153, 0.2);
  }
  #m_default_page {
    margin-top: 0;
    font-size: 12px;
    padding: 100px 20px 150px 20px;
  }
  #m_default_page #m_image_container {
    margin-top: 20px;
  }
  #m_default_page #m_image_container img {
    width: 100px;
  }
  #m_default_page #m_image_container :last-child {
    margin-bottom: 15px;
  }
  #info_edit_page {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  #info_edit_page #info_buttons {
    padding-bottom: 50px;
    max-width: 310px;
    width: 100%;
    height: 100%;
    gap: 18px;
  }
  #info_edit_page #info_buttons button {
    width: 265px;
    height: 35px;
    font-size: 12px;
  }
  #nickname_edit_page {
    max-width: 310px;
    height: 130px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 30px;
    gap: 30px;
  }
  #password_edit_page {
    max-width: 310px;
    width: 100%;
    margin-bottom: 30px;
  }
  #password_edit_page label {
    width: 100%;
    max-width: 250px;
  }
  #password_changed_page div {
    font-size: 12px;
  }
  #password_changed_page button {
    width: 80px;
    height: 30px;
    font-size: 10px;
    margin: 30px;
  }
  #today_sentence_page {
    padding-bottom: 30px;
  }
  #today_sentence_page img {
    width: 192px;
    height: 192px;
  }
  #today_sentence_page #today_input {
    width: 100%;
    height: 100%;
  }
  #today_sentence_page #input_only_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 255px;
    max-height: 38px;
  }
  #today_sentence_page #today_input_cancel {
    margin: 0;
    padding: 0 5px 10px 0;
  }
  .input_container {
    max-width: 310px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .input_container input {
    max-width: 250px;
  }
  .input_container div {
    font-size: 10px;
  }
  .input_container input::-webkit-input-placeholder {
    font-size: 8px;
  }
  .input_container input:-ms-input-placeholder {
    font-size: 8px;
  }
  .input_container input::-ms-input-placeholder {
    font-size: 8px;
  }
  .input_container input::placeholder {
    font-size: 8px;
  }
  .input_container label {
    font-size: 14px;
    width: 100%;
  }
  .m_button_container {
    gap: 8px;
  }
  .m_button_container button {
    width: 80px;
    height: 30px;
    font-size: 10px;
  }
  .m_title {
    font-size: 14px;
  }
  #graph_page img {
    width: 14px;
    height: 14px;
  }
  #graph_page .m_title {
    font-size: 14px;
  }
  .white_btn {
    width: 130px;
    height: 36px;
    font-size: 14px;
  }
  .no_border_btn {
    width: 136px;
    height: 40px;
    font-size: 13px;
  }
  .modal__content {
    width: 270px;
    height: 175px;
    margin-bottom: 95%;
  }
  .modal__content .button_container {
    width: 125px;
  }
  #modal_delete_account_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
  #modal_delete_close_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
  #modal_logout_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
  #modal_close_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
}
