body {
  margin: 0;
}

:root {
  background-color: #e5e5e5;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "S-CoreDream";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfe), to(#fdfbfe)), #fbfbfb;
  background: linear-gradient(0deg, #fdfbfe, #fdfbfe), #fbfbfb;
  color: #2d2d2d;
  border-bottom: 1px solid #e0dde1;
}

#header_navigator {
  width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  cursor: pointer;
}

.home_mypage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 300;
}

#header_login_button {
  width: 94px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #db643e;
}

#header_login_button:active {
  background: #ec6d43;
}

.login_area {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header_middle {
  width: 80px;
  cursor: pointer;
}

.header_middle:hover {
  color: #db643e;
}

.home_button {
  text-align: left;
  margin-left: 20px;
}

.mypage_button {
  text-align: left;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #2d2d2d;
}

a:visited {
  color: #2d2d2d;
}

a:hover {
  color: #db643e;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content {
  text-align: center;
  position: relative;
  width: 468px;
  height: 237px;
  background: #fbfafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#modal_logout_button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
}

#modal_logout_button:active {
  background: #ec6d43;
}

#modal_close_button {
  width: 94px;
  height: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  cursor: pointer;
}

#modal_close_button:active {
  background: #f2f2f2;
}

.hidden {
  display: none;
}

.modal_txt {
  margin-top: 50px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 216px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  width: 100%;
  height: 130px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfe), to(#fdfbfe)), #fbfbfb;
  background: linear-gradient(0deg, #fdfbfe, #fdfbfe), #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e0dde1;
}

#github_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin-right: 60px;
  cursor: pointer;
}

#inquiry_txt {
  width: 120px;
  cursor: pointer;
}

#a_github {
  text-decoration: none;
}

#a_github:visited {
  color: #2d2d2d;
}

#body_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 98vh;
}

#mypage_top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1260px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 37px 0 0 38px;
}

#info_container span {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #222222;
}

#info_container div {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #969696;
}

#info_container .email_txt {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
}

#m_left_button_container {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 26px 24px 0;
}

.white_btn {
  width: 108px;
  height: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #db643e;
  border: 1px solid #db643e;
  background: #fdfbfe;
  cursor: pointer;
}

.white_btn:active {
  background: #f5f5f594;
}

#m_right_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m_top_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 612px;
  height: 218px;
  background: #fdfbfe;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#m_today_record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

#m_today_record img {
  margin-right: 10px;
}

#m_right_button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.no_border_btn {
  width: 179px;
  height: 57px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: #fdfbfe;
  color: #000000;
  cursor: pointer;
}

.no_border_btn:active {
  background: #f5f5f594;
}

#mypage_bottom_container {
  margin-top: 34px;
  width: 1260px;
  height: 560px;
  background: #fdfbfe;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#info_edit_page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info_edit_page input {
  padding-left: 10px;
  width: 396px;
  height: 38px;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
}

#info_edit_page input:focus {
  outline: none;
}

.m_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  border-bottom: 2px solid #db643e;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-right: 900px;
  color: #000000;
}

.m_button_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.orange_button {
  width: 94px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #db643e;
}

.orange_button:active {
  background: #ec6d43;
}

.white_button {
  width: 94px;
  height: 36px;
  border-style: 1px solid #2d2d2d;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  background: #fdfbfe;
}

.white_button:active {
  background: #f5f5f594;
}

.input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 252px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_container input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

.input_container input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

.input_container input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

.input_container input::placeholder {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #8b8b8b;
}

.input_container input[type="password"] {
  margin-bottom: 30px;
}

#m_left_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name_txt {
  width: 200px;
}

.email_txt {
  width: 200px;
}

#m_default_page {
  height: 100%;
  margin-top: 100px;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#m_default_page #m_image_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#today_sentence_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  position: relative;
}

#today_sentence_page img {
  position: relative;
  top: 6px;
  z-index: 3;
}

#today_sentence_page #input_only_container {
  width: 525px;
  height: 38px;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#today_sentence_page #input_only_container input {
  width: 92%;
  height: 90%;
  border: none;
  background: transparent;
  padding-left: 10px;
}

#today_sentence_page #input_only_container input:focus {
  outline: none;
}

#today_sentence_page #input_only_container #today_input_cancel {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-bottom: 3px;
}

#today_sentence_page #today_sentence_input_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
}

#today_sentence_page #today_sentence_input_container span {
  font-weight: 300;
  font-size: 10px;
  line-height: 24px;
  color: #999999;
  text-align: center;
}

#info_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 55px;
}

#nickname_edit_btn {
  width: 397px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  color: #ffffff;
  background: #db643e;
}

#nickname_edit_btn:active {
  background: #ec6d43;
}

#password_edit_btn {
  width: 397px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-style: 1px solid #2d2d2d;
  cursor: pointer;
  color: #222222;
  background: #fdfbfe;
}

#password_edit_btn:active {
  background: #f5f5f594;
}

#nickname_edit_page {
  display: none;
}

#password_edit_page {
  display: none;
}

.newmodal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__content {
  text-align: center;
  position: relative;
  width: 468px;
  height: 237px;
  background: #fbfafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#modal_delete_account_button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
}

#modal_delete_account_button:active {
  background: #ec6d43;
}

#modal_delete_close_button {
  width: 94px;
  height: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  cursor: pointer;
}

#modal_delete_close_button:active {
  background: #f2f2f2;
}

.hidden {
  display: none;
}

.modal_txt {
  margin-top: 50px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 216px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
