body {
  margin: 0;
}

:root {
  background-color: #e5e5e5;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "S-CoreDream";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 80px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfe), to(#fdfbfe)), #fbfbfb;
  background: linear-gradient(0deg, #fdfbfe, #fdfbfe), #fbfbfb;
  color: #2d2d2d;
  border-bottom: 1px solid #e0dde1;
}

#header_navigator {
  width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_divider {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  cursor: pointer;
}

.home_mypage {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: 300;
}

#header_login_button {
  width: 94px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #db643e;
}

#header_login_button:active {
  background: #ec6d43;
}

.login_area {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header_middle {
  width: 80px;
  cursor: pointer;
}

.header_middle:hover {
  color: #db643e;
}

.home_button {
  text-align: left;
  margin-left: 20px;
}

.mypage_button {
  text-align: left;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #2d2d2d;
}

a:visited {
  color: #2d2d2d;
}

a:hover {
  color: #db643e;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content {
  text-align: center;
  position: relative;
  width: 468px;
  height: 237px;
  background: #fbfafc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#modal_logout_button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
}

#modal_logout_button:active {
  background: #ec6d43;
}

#modal_close_button {
  width: 94px;
  height: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  cursor: pointer;
}

#modal_close_button:active {
  background: #f2f2f2;
}

.hidden {
  display: none;
}

.modal_txt {
  margin-top: 50px;
}

.button_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 216px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer {
  width: 100%;
  height: 130px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfe), to(#fdfbfe)), #fbfbfb;
  background: linear-gradient(0deg, #fdfbfe, #fdfbfe), #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e0dde1;
}

#github_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  margin-right: 60px;
  cursor: pointer;
}

#inquiry_txt {
  width: 120px;
  cursor: pointer;
}

#a_github {
  text-decoration: none;
}

#a_github:visited {
  color: #2d2d2d;
}

.login_container {
  width: 468px;
  height: 639px;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.login_title {
  font-size: 24px;
  font-weight: 500;
  width: 396px;
  height: 35px;
  border-bottom: 1px solid #e0dde1;
  margin-top: 20px;
  margin-bottom: 22px;
}

label {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  color: #2d2d2d;
}

input {
  display: block;
  width: 396px;
  height: 47px;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5px;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: 1px solid #5f5f5f;
}

.button {
  width: 396px;
  height: 44px;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  margin-bottom: 12px;
}

#login_button {
  border-style: none;
  background: rgba(219, 100, 62, 0.37);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#login_button:active {
  background: #ec6d43;
}

#go_signup {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #414141;
  margin-top: 16px;
}

#go_signup:hover {
  text-decoration: underline;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  width: 100%;
  min-height: 98vh;
  background-color: #e5e5e5;
}

.login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[name="userEmail"] {
  width: 287px;
  height: 47px;
}

input[name="userNickname"] {
  margin-bottom: 20px;
}

input[name="userNickname"]::-webkit-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input[name="userNickname"]:-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input[name="userNickname"]::-ms-input-placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

input[name="userNickname"]::placeholder {
  color: #bdbdbd;
  font-weight: 300;
}

#github_login_icon {
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

#kakao_login_icon {
  vertical-align: text-top;
  width: 16.63px;
  height: 15.28px;
  margin-right: 8.38px;
}

#email_check_btn {
  margin: 5px 0 0 0;
  border-style: none;
  width: 99px;
  height: 47px;
  background: #db643e;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

#email_check_btn:active {
  background: #ec6d43;
}

.email_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.warning_msg {
  visibility: hidden;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_fail {
  display: none;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_pass {
  display: none;
  color: #0074d9;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_check {
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_format {
  display: none;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}
