@function remove-unit($value) {
  @return ($value / ($value * 0 + 1));
}
$base-rem-size: 16;
@function rem($px, $base: $base-rem-size) {
  @return (remove-unit($px / $base)) * 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background: linear-gradient(0deg, #fdfbfe, #fdfbfe), #fbfbfb;
  color: #2d2d2d;
  border-bottom: 1px solid #e0dde1;
}
#header_navigator {
  width: 1260px;
  display: flex;
  align-items: center;
}
.header_divider {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.home_mypage {
  justify-content: center;
  font-size: 16px;
  font-weight: 300;
}

#header_login_button {
  width: 94px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #db643e;
  &:active {
    background: #ec6d43;
  }
}

.login_area {
  justify-content: end;
}

.header_middle {
  width: 80px;
  cursor: pointer;
  &:hover {
    color: #db643e;
  }
}

.home_button {
  text-align: left;
  margin-left: 20px;
}

.mypage_button {
  text-align: left;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #2d2d2d;
  &:visited {
    color: #2d2d2d;
  }
  &:hover {
    color: #db643e;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal__content {
  text-align: center;
  position: relative;
  width: 468px;
  height: 237px;
  background: #fbfafc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#modal_logout_button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
  &:active {
    background: #ec6d43;
  }
}

#modal_close_button {
  width: 94px;
  height: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  cursor: pointer;
  &:active {
    background: #f2f2f2;
  }
}

.hidden {
  display: none;
}

.modal_txt {
  margin-top: 50px;
}

.button_container {
  display: flex;
  flex-direction: row;
  width: 216px;
  justify-content: space-between;
}
