@import "./body";
@import "./font";
@import "./header";
@import "./footer";

@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}

#body_container {
  @include flexCenter(column);
  min-height: 98vh;
}

#home_container {
  width: 1260px;
  height: 807px;
  background: #fdfbfe;
  @include flexCenter(row);
  margin-bottom: 50px;
}

#left_container {
  width: 100%;
  @include flexCenter(column);
}

#right_container {
  width: 100%;
  @include flexCenter(column);
}

.time_txt {
  font-size: 48px;
  font-weight: 500;
  line-height: 24px;
  color: #222222;
  margin-bottom: 30px;
}

.today_sentence {
  font-weight: 300;
  font-size: 20px;
  line-height: 21px;
}

#middle_container {
  border-top: 3px solid #e0dde1;
  border-bottom: 3px solid #e0dde1;
  width: 498px;
  height: 280px;
  text-align: center;
  @include flexCenter(column);
}

#todo_container {
  width: 80%;
  @include flexCenter(column);
}

#todo_top {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  width: 100%;
  flex-direction: row;
  // justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}

#todo_c {
  width: 333px;
  border-bottom: 2px solid #e0dde1;
  color: #8b8b8b;
  img {
    vertical-align: middle;
    cursor: pointer;
  }
}

#todo_list {
  width: 100%;
  margin-top: 10px;
}

.text_input {
  border-style: none;
  width: 306px;
  height: 26px;
  background: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #8b8b8b;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #db643e;
  :checked {
    background-color: transparent;
  }
}

.org_btn {
  border-style: none;
  cursor: pointer;
  background: #db643e;
  color: #ffffff;
  &:active {
    background: #ec6d43;
  }
}

.small {
  width: 46px;
  height: 28px;
}

// 스위치 CSS 시작

// #switch_container {
//   width: 100%;
//   height: 100vh;
//   background-color: red;
//   padding-bottom: 20px;
// }

html {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.mid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1em;
}

/* Switch starts here */
.rocker {
  display: inline-block;
  position: relative;

  /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

.rocker-small {
  font-size: 0.75em; /* Sizes the switch */
  margin: 1em;
}

.rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus + .switch-left {
  color: #333;
}

input:checked:focus + .switch-left {
  color: #fff;
}

input:focus + .switch-left + .switch-right {
  color: #fff;
}

input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

// 스위치 CSS 끝

#today_record_container {
  width: 396px;
  height: 604px;
  border: 2px solid #e0dde1;
  box-sizing: border-box;
  background: #fdfbfe;
}

#today_record_top {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  width: 90%;
  margin-left: 20px;
  border-bottom: 3px solid #e0dde1;
}
#timer {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #7a7a7a;
  img {
    vertical-align: text-bottom;
  }
  span {
    width: 71px;
    text-align: right;
  }
}

.li {
  display: flex;
  align-items: center;
  height: 30px;
  span {
    margin-top: 3.5px;
    margin-right: 25px;
  }
  .checkboxImg {
    cursor: pointer;
    margin: 0 5px;
    opacity: 0;
  }
  &:hover {
    .checkboxImg {
      opacity: 1;
    }
  }
}

//테이블 만드는 CSS 시작

#today_record_graph {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.table {
  display: flex;
  width: 352px;
  height: fit-content;
  border-top: 2px solid #e0dde1;
  border-bottom: 2px solid #e0dde1;
}

.column {
  // margin-bottom: 1em;
  // width: 100%;
  border: 1px solid #e0dde1;
  width: 100%;
  height: 22px;
}

.time {
  width: 50px;
}

#table_time_graph {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  gap: 0;
}

.row {
  border: 1px solid #e0dde1;
  height: 22px;
  width: 100%;
  // background: rgba(219, 100, 62, 0.19);
  text-align: center;
  color: #999999;
  line-height: normal;
  font-size: 14px;
  padding-top: 2px;
}

// 테이블 CSS 끝

input[type="checkbox"] {
  margin-right: 10px;
}

.editInput {
  outline-style: none;
  border: none;
  border-bottom: 1px solid grey;
  width: max-content;
  background-color: transparent;
}

#add_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
}

#add_btn {
  margin: 0 0 3px 10px;
}

#todo_input_container {
  display: none;
  margin-left: 10px;
}

#todo_submit {
  margin-left: 10px;
}

#color_pick {
  appearance: none;
  background: transparent;
  width: 24px;
  cursor: pointer;
  border: 1px solid #e0dde1;
  border: none;
  &::-webkit-color-swatch {
    border: none;
  }
  &::-moz-color-swatch {
    border: none;
  }
}

#right_top_container {
  display: flex;
  justify-content: space-between;
  width: 396px;
}

#color_picker_container {
  span {
    vertical-align: text-top;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
  }
}

#kakao_container {
  margin: 0;
  cursor: pointer;
  span {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
  }
  img {
    vertical-align: middle;
  }
}

#todo_nothing {
  @include flexCenter(row);

  margin-top: 10px;
  width: 498px;
  height: 210px;
  border: 2px solid #e0dde1;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #8b8b8b;
  display: none;
}
