@import "./body";
@import "./font";
@import "./header";
@import "./footer";

@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}

#body_container {
  @include flexCenter(column);
  min-height: 98vh;
  background: #fbfbfb;
}

#background_container {
  position: absolute;
  top: 80px;
  z-index: 0;
}

#landing_top_container {
  width: 100%;
  position: relative;
  @include flexCenter(row);
  z-index: 1;
  justify-content: space-evenly;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #222222;
}

#bottom_txt_container {
  display: flex;
  margin: 130px 120px 0 0;
}

#landing_bottom_container {
  width: 100%;
  position: relative;
  @include flexCenter(row);
  z-index: 1;
  justify-content: space-evenly;
  text-align: right;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #222222;
}

#landing_button_container {
  width: 281px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

#landing_guest_button {
  position: relative;
  width: 125.33px;
  height: 48px;
  background: #db643e;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
  &:active {
    background: #ec6d43;
  }
}

#landing_login_button {
  position: relative;
  width: 125.33px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #db643e;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #db643e;
  cursor: pointer;
  z-index: 1;
  &:active {
    background: #f5f5f594;
  }
}

#mobile_top_icon {
  opacity: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 37.5rem) {
  #landing_top_container {
    font-size: 14px;
    text-align: center;
    flex-direction: column-reverse;
  }
  #top_img_container {
    margin: 32px 0 35px 0;
    img {
      width: 128px;
      height: 163.5px;
    }
  }
  #top_txt_container {
    width: 50%;
    word-break: keep-all;
  }
  #landing_bottom_container {
    font-size: 14px;
    text-align: center;
    flex-direction: column;
  }
  #bottom_img_container {
    img {
      width: 267px;
      height: 178px;
    }
  }
  #bottom_txt_container {
    margin: 20px 0 50px 0;
    width: 35%;
    word-break: keep-all;
  }

  #landing_guest_button {
    width: 70px;
    height: 27px;
    font-size: 10px;
    line-height: 24px;
  }

  #landing_login_button {
    width: 75px;
    height: 27px;
    font-size: 10px;
    line-height: 24px;
  }
  #landing_button_container {
    width: 156px;
    margin: 33px 0 21px 0;
  }
  #background_container {
    svg {
      display: none;
    }
  }
  #body_container {
    background-color: rgba(219, 100, 62, 0.1);
  }

  #github_login_icon {
    vertical-align: text-bottom;
    width: 14px;
    height: 14px;
    margin-right: 3px;
  }
  #kakao_login_icon {
    vertical-align: text-bottom;
    width: 14px;
    height: 13px;
    margin-right: 4.58px;
  }
  .login_container {
    border: none;
    transition: 0.5s all;
  }
  #mobile_top_icon {
    opacity: 1;
  }
  #container {
    background-color: #fdfbfe;
    margin-top: 0px;
    transition: 0.5s all;
  }
  :root {
    background-color: #fdfbfe;
    transition: 0.5s all;
  }
}
