@import "./body";
@import "./font";
@import "./header";
@import "./footer";

@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}

#body_container {
  @include flexCenter(column);
  min-height: 98vh;
  background: #fbfbfb;
  overflow: hidden;
  background-image: url("../../images/landing.svg");
  background-repeat: no-repeat;
}

#background_container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 80px;
  z-index: 0;
}

#landing_container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#landing_top_container {
  max-width: 1260px;
  width: 100%;
  position: relative;
  @include flexCenter(row);
  margin-top: 200px;
}

#top_img_container {
  position: absolute;
  display: flex;
  align-items: center;
  transition: 0.5s all;
  width: 100%;
  justify-content: flex-end;
}

#top_txt_container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s all;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #222222;
  z-index: 1;
  position: absolute;
  text-shadow: 2px 2px #fff, 2px -2px #fff, -2px 2px #fff, -2px -2px #fff;
}

#landing_bottom_container {
  max-width: 1260px;
  width: 100%;
  min-height: 250px;
  position: relative;
  @include flexCenter(row);
  margin-top: 100px;
}

#bottom_txt_container {
  position: absolute;
  display: flex;
  align-items: center;
  transition: 0.5s all;
  width: 100%;
  justify-content: flex-end;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #222222;
  text-shadow: 2px 2px #fff, 2px -2px #fff, -2px 2px #fff, -2px -2px #fff;
  text-align: right;
}

#bottom_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  img {
    width: 521.75px;
    height: 288.72px;
  }
}

#landing_button_container {
  width: 281px;
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
}

#landing_guest_button {
  position: relative;
  width: 125.33px;
  height: 48px;
  background: #db643e;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
  &:active {
    background: #ec6d43;
  }
}

#landing_login_button {
  position: relative;
  width: 125.33px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #db643e;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #db643e;
  cursor: pointer;
  z-index: 1;
  &:active {
    background: #f5f5f594;
  }
}

#mobile_top_icon {
  opacity: 0;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media screen and (max-width: 37.5rem) {
  #landing_top_container {
    flex-direction: column-reverse;
    margin: 0;
  }
  #body_container {
    background-image: none;
  }
  #top_img_container {
    margin: 32px 0 35px 0;
    position: static;
    height: fit-content;
    justify-content: center;
    img {
      width: 128px;
      height: 163.5px;
    }
  }
  #top_txt_container {
    position: static;
    font-size: 14px;
    text-align: center;
    width: 50%;
    word-break: keep-all;
    text-shadow: none;
  }
  #landing_bottom_container {
    flex-direction: column;
    position: static;
    margin: 0;
    min-height: 400px;
    justify-content: space-between;
  }
  #bottom_img_container {
    position: static;
    justify-content: center;
    align-items: center;
    img {
      width: 267px;
      height: 178px;
    }
  }
  #bottom_txt_container {
    font-size: 14px;
    text-align: center;
    width: 50%;
    word-break: keep-all;
    text-shadow: none;
    position: static;
  }

  #landing_guest_button {
    width: 70px;
    height: 27px;
    font-size: 10px;
    line-height: 24px;
  }

  #landing_login_button {
    width: 75px;
    height: 27px;
    font-size: 10px;
    line-height: 24px;
  }
  #landing_button_container {
    width: 156px;
    margin: 33px 0 21px 0;
  }
  #background_container {
    svg {
      display: none;
    }
  }
  #body_container {
    background-color: rgba(219, 100, 62, 0.1);
  }

  #github_login_icon {
    vertical-align: text-bottom;
    width: 14px;
    height: 14px;
    margin-right: 3px;
  }
  #kakao_login_icon {
    vertical-align: text-bottom;
    width: 14px;
    height: 13px;
    margin-right: 4.58px;
  }
  .login_container {
    border: none;
    transition: 0.5s all;
  }
  #mobile_top_icon {
    display: flex;
    opacity: 1;
    margin-top: 50px;
  }
  #container {
    background-color: #fdfbfe;
    margin-top: 0px;
    transition: 0.5s all;
  }
  :root {
    background-color: #fdfbfe;
    transition: 0.5s all;
  }
}
