@import "./body";
@import "./font";
@import "./header";
@import "./footer";

@mixin flexCenter($flex-direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flex-direction;
}

#body_container {
  @include flexCenter(column);
  min-height: 98vh;
}

#mypage_top_container {
  display: flex;
  max-width: 1260px;
  width: 100%;
  gap: 2%;
  margin: 2%;
  justify-content: space-between;
}

#info_container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin: 5%;
  word-break: keep-all;
  span {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #222222;
  }
  div {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #969696;
  }
  .email_txt {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }
}

#m_left_button_container {
  max-width: 240px;
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
}

.white_btn {
  width: 108px;
  height: 43px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #db643e;
  border: 1px solid #db643e;
  background: #fdfbfe;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:active {
    background: #f5f5f594;
  }
}

#m_right_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m_top_container {
  display: flex;
  @include flexCenter(column);
  max-width: 612px;
  width: 100%;
  height: 218px;
  background: #fdfbfe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#m_today_record {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-weight: 300;
  img {
    margin-right: 10px;
  }
  span {
    font-weight: 500;
  }
}

#m_right_button_container {
  display: flex;
  flex-direction: row;
}

.no_border_btn {
  width: 179px;
  height: 57px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: #fdfbfe;
  color: #000000;
  cursor: pointer;
  &:active {
    background: #f5f5f594;
  }
}

#mypage_bottom_container {
  max-width: 1260px;
  width: 100%;
  height: 560px;
  background: #fdfbfe;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

#info_edit_page {
  display: none;
  //   display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;

  align-items: center;

  input {
    padding-left: 10px;
    width: 396px;
    height: 38px;
    background: #fdfbfe;
    border: 1px solid #e0dde1;
    box-sizing: border-box;
    margin-top: 10px;
    &:focus {
      outline: none;
    }
  }
}
.m_title {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  span {
    margin: 30px;
    border-bottom: 2px solid #db643e;
  }
}
.m_button_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.orange_button {
  width: 94px;
  height: 36px;
  border-style: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #db643e;
  &:active {
    background: #ec6d43;
  }
}

.white_button {
  width: 94px;
  height: 36px;
  border-style: 1px solid rgba(45, 45, 45, 1);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #222222;
  background: #fdfbfe;
  &:active {
    background: #f5f5f594;
  }
}

.input_container {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  input::placeholder {
    font-weight: 300;
    font-size: 12px;
    line-height: 21px;
    color: #8b8b8b;
  }
}

#m_left_container {
  display: flex;
  justify-content: space-between;
}

.name_txt {
  width: 200px;
}

.email_txt {
  width: 200px;
}

#m_default_page {
  height: 100%;
  margin-top: 100px;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #m_image_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #m_image_container :last-child {
    margin-bottom: 20px;
  }
  #m_image_container :first-child {
    display: flex;
  }
}

#today_sentence_page {
  @include flexCenter(column);
  display: none;
  position: relative;

  img {
    position: relative;
    top: 6px;
    z-index: 3;
  }
  #input_only_container {
    width: 525px;
    height: 38px;
    background: #fdfbfe;
    border: 1px solid #e0dde1;
    box-sizing: border-box;
    input {
      width: 92%;
      height: 90%;
      border: none;
      background: transparent;
      padding-left: 10px;

      &:focus {
        outline: none;
      }
    }
    #today_input_cancel {
      width: 16px;
      height: 16px;
      cursor: pointer;
      margin-bottom: 3px;
    }
  }

  #today_sentence_input_container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-bottom: 20px;
    span {
      font-weight: 300;
      font-size: 10px;
      line-height: 24px;
      color: #999999;
      text-align: center;
    }
  }
}

#info_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 55px;
}

#nickname_edit_btn {
  width: 397px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-style: none;
  cursor: pointer;
  color: #ffffff;
  background: #db643e;
  &:active {
    background: #ec6d43;
  }
}

#password_edit_btn {
  width: 397px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-style: 1px solid rgba(45, 45, 45, 1);
  cursor: pointer;

  color: #222222;
  background: #fdfbfe;
  &:active {
    background: #f5f5f594;
  }
}

#nickname_edit_page {
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

#password_edit_page {
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  input {
    width: 396px;
    height: 38px;
  }
}

#password_container {
  width: 100%;
  height: 100%;
}

#password_changed_page {
  @include flexCenter(column);
  display: none;
  width: 100%;
  height: 100%;
  font-size: 18px;
  button {
    border-style: none;
    background: #db643e;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    width: 94px;
    height: 36px;
    cursor: pointer;
    margin-top: 100px;
    &:active {
      background: #ec6d43;
    }
  }
}
#graph_page {
  display: none;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  .m_title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    span {
      margin: 30px;
      border-bottom: 2px solid #db643e;
    }
  }
  img {
    width: 24px;
    height: 24px;
    vertical-align: auto;
    margin-top: 15px;
  }
}

.newmodal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.modal__content {
  text-align: center;
  position: relative;
  width: 468px;
  height: 237px;
  background: #fbfafc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

#modal_delete_account_button {
  border-style: none;
  background: #db643e;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  width: 94px;
  height: 36px;
  cursor: pointer;
  &:active {
    background: #ec6d43;
  }
}

#modal_delete_close_button {
  width: 94px;
  height: 36px;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #2d2d2d;
  border: 1px solid #2d2d2d;
  cursor: pointer;
  &:active {
    background: #f2f2f2;
  }
}

.hidden {
  display: none;
}

.modal_txt {
  margin-top: 50px;
}

.button_container {
  display: flex;
  flex-direction: row;
  width: 216px;
  justify-content: space-between;
}

.warning_msg {
  visibility: hidden;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

@media screen and (max-width: 37.5rem) {
  #mypage_top_container {
    flex-direction: column;
  }
  #body_container {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background: #fbfafc;
    margin: 0px;
  }
  #mypage_top_container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .m_top_container {
    box-shadow: none;
    width: 318px;
    border: 1px solid rgba(153, 153, 153, 0.2);
  }
  #m_left_container {
    height: 159px;
  }
  #info_container {
    margin: 15px 0 0 20px;

    span {
      font-size: 18px;
    }
    div {
      font-size: 12px;

      word-break: keep-all;
    }
    .email_txt {
      font-size: 14px;
    }
  }
  #m_left_button_container {
    align-items: center;
    width: 100%;
    max-width: 320px;
    justify-content: space-evenly;
    margin: 0 0 20px 0;
  }
  #m_right_container {
    height: 92px;
    display: flex;
    place-content: flex-end;
    margin: 15px 0 15px 0;
    #m_today_record {
      margin: 0;
      font-size: 14px;
      line-height: 24px;
    }
  }
  #mypage_bottom_container {
    box-shadow: none;
    margin: 0;
    width: 318px;
    height: fit-content;
    border: 1px solid rgba(153, 153, 153, 0.2);
  }
  #m_default_page {
    margin-top: 0;
    font-size: 12px;
    padding: 100px 20px 150px 20px;
    #m_image_container {
      img {
        width: 100px;
      }
      margin-top: 20px;
    }
    #m_image_container :last-child {
      margin-bottom: 15px;
    }
  }

  #info_edit_page {
    height: max-content;
    #info_buttons {
      padding-bottom: 50px;
      max-width: 310px;
      width: 100%;
      height: 100%;
      gap: 18px;

      button {
        width: 265px;
        height: 35px;
        font-size: 12px;
      }
    }
  }
  #nickname_edit_page {
    max-width: 310px;
    height: 130px;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 30px;
  }
  #password_edit_page {
    max-width: 310px;
    width: 100%;
    margin-bottom: 30px;
    label {
      width: 100%;
      max-width: 250px;
    }
  }

  #password_changed_page {
    div {
      font-size: 12px;
    }
    button {
      width: 80px;
      height: 30px;
      font-size: 10px;
      margin: 30px;
    }
  }

  #today_sentence_page {
    padding-bottom: 30px;
    img {
      width: 192px;
      height: 192px;
    }
    #today_input {
      width: 100%;
      height: 100%;
    }
    #input_only_container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 255px;
      max-height: 38px;
    }
    #today_input_cancel {
      margin: 0;
      padding: 0 5px 10px 0;
    }
  }

  .input_container {
    max-width: 310px;
    width: 100%;
    justify-content: center;
    align-items: center;
    input {
      max-width: 250px;
    }
    div {
      font-size: 10px;
    }
    input::placeholder {
      font-size: 8px;
    }
    label {
      font-size: 14px;
      width: 100%;
    }
  }
  .m_button_container {
    gap: 8px;
    button {
      width: 80px;
      height: 30px;
      font-size: 10px;
    }
  }

  .m_title {
    font-size: 14px;
  }

  #graph_page {
    img {
      width: 14px;
      height: 14px;
    }
    .m_title {
      font-size: 14px;
    }
  }

  .white_btn {
    width: 130px;
    height: 36px;
    font-size: 14px;
  }
  .no_border_btn {
    width: 136px;
    height: 40px;
    font-size: 13px;
  }

  .modal__content {
    width: 270px;
    height: 175px;
    margin-bottom: 95%;
    .button_container {
      width: 125px;
    }
  }
  #modal_delete_account_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
  #modal_delete_close_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
  #modal_logout_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
  #modal_close_button {
    width: 54.23px;
    height: 30.57px;
    font-size: 13px;
  }
}
