@import "./body";
@import "./font";
@import "./header";
@import "./footer";

.login_container {
  width: 468px;
  height: 639px;

  background: #fdfbfe;
  border: 1px solid #e0dde1;
  box-sizing: border-box;
}

.login_title {
  font-size: 24px;
  font-weight: 500;
  width: 396px;
  height: 35px;
  border-bottom: 1px solid #e0dde1;
  margin-top: 20px;
  margin-bottom: 22px;
}

label {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  color: #2d2d2d;
}

input {
  display: block;
  width: 396px;
  height: 47px;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  box-sizing: border-box;
  margin-top: 5px;
  padding-left: 10px;
  &:focus {
    outline: none;
    border: 1px solid #5f5f5f;
  }
}

.button {
  width: 396px;
  height: 44px;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #2d2d2d;
  background: #fdfbfe;
  border: 1px solid #e0dde1;
  margin-bottom: 12px;
}

#login_button {
  border-style: none;
  background: rgba(219, 100, 62, 0.37);
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  &:active {
    background: #ec6d43;
  }
}
#go_signup {
  display: block;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
  color: #414141;
  margin-top: 16px;
  &:hover {
    text-decoration: underline;
  }
}

#container {
  display: flex;
  justify-content: center;

  margin-top: 60px;
  width: 100%;
  min-height: 98vh;
  background-color: #e5e5e5;
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[name="userEmail"] {
  width: 287px;
  height: 47px;
}

input[name="userNickname"] {
  margin-bottom: 20px;
  &::placeholder {
    color: rgb(189, 189, 189);
    font-weight: 300;
  }
}

#github_login_icon {
  vertical-align: text-top;
  width: 16px;
  height: 16px;

  margin-right: 6px;
}

#kakao_login_icon {
  vertical-align: text-top;
  width: 16.63px;
  height: 15.28px;
  margin-right: 8.38px;
}

#email_check_btn {
  margin: 5px 0 0 0;
  border-style: none;
  width: 99px;
  height: 47px;
  background: #db643e;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  &:active {
    background: #ec6d43;
  }
}

.email_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.warning_msg {
  visibility: hidden;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_fail {
  display: none;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_pass {
  display: none;
  color: #0074d9;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_check {
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}

#email_format {
  display: none;
  color: red;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}
